.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4em;
  width: 100%;
}

.contact fieldset {
  border: none;
  font-size: 1.3em;
  margin: 1.5em 0;
}

.contact form {
  display: flex;
  flex-direction: column;
  justify-items: center;
  border: 1px solid #6464ff;
  border-radius: 0.5em;
  width: 300px;
}

.contact form label {
  margin-top: 1em;
  margin-left: 0.5em;
}

.contact form input,
textarea {
  background-color: #ffffff4b;
  border-radius: 0.5em;
  margin: 0.5em;
  padding: 0.5em;
  border: .5px solid;
  color: var(--body_color);
}

.contact form input:focus,
textarea:focus {
  color: var(--body_color);
  outline: 1px solid #6464ff;
}

.contact form input::placeholder,
textarea::placeholder {
  color: var(--body_color);
  padding: 0.5em;
}

.contact form textarea {
  height: 100px;
  resize: none;
}

.contact button {
  font-size: medium;
  background-color: #6464ff;
  color: white;
  border: none;
  border-radius: 0.5em;
  padding: 0.5em;
  margin: .5em;
  cursor: pointer;
}

.contact button:hover {
  background-color: #3131fa;
  transition: .3s ease;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2.5em;
}

.details svg {
  font-size: 15px;
  vertical-align: middle;
}

@media only screen and (min-width: 768px) {
  .contact fieldset {
    margin-top: 2em;
  }

  .contact form {
    width: 100%;
    max-width: 700px;
    margin-top: 1em;
  }

  .contact form input,
  textarea {
    width: 95%;
    margin: 1em auto;
    height: 4em;
  }

  .contact form textarea {
    height: 200px;
  }

  .contact form input::placeholder, 
  textarea::placeholder {
    font-size: 1.5em;
  }

  .contact button {
    font-size: 1.5em;
  }

  .details svg {
    font-size: 35px;
  }
}