.projectsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  justify-content: center;
  width: 100%;
  background-color: var(--body_background);
  border: 1px solid var(--border_color);
  border-radius: 10px;
  margin-bottom: 1em;
  padding: 1.5em;
  margin: 4em 1.2em;
}

.projectsContainer h1 {
  font-size: 2em;
  margin-top: 1em;
  margin-bottom: 2em;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 1em;
}

.project h1 {
  margin-bottom: 0.5em;
}

.project h2 {
  margin-bottom: 0.5em;
}

.project h5 {
  margin-bottom: 1.5em;
}

.description {
  text-indent: 1.5em;
  line-height: 2;
  margin-bottom: 1em;
}

.list {
  line-height: 2;
}

.project .images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.project .image_list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: 1px solid #6464ff5b;
  border-radius: 0.5em;
}

.project .image {
  flex: 1 1 calc(100% - 20px); 
  margin: 10px;
}

.project .image img {
  width: 100%;
  height: auto;
}

.usedTechnologies h2 {
  text-align: center;
  margin-top: 1em;
}

.technologies {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.icon img {
  width: 90px;
  height: auto;
  margin-bottom: 10px;
}

.link {
  background-color: #6464ff;
  color: white;
  border: none;
  border-radius: 0.5em;
  padding: 0.5em;
  margin: 1em;
}

.link:hover {
  background-color: #3131fa;
  transition: .5s ease;
  transform: scale(1.2);
}

.divider {
  width: 90%;
  margin: 1em auto;
  border: 0;
  height: 1px;
  background-color: #6464ff5e;
}

.not_available {
  position: relative;
  opacity: 0.7;
}

.tip {
  display: none;
  position: fixed;
  bottom: 80px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
}

.not_available:hover .tip {
  display: block;
  color: black;
  opacity: 1;
}

@media only screen and (min-width: 768px) {
  .not_available:hover .tip {
    position: absolute;
    top: -100px;
    left: -100px;
    width: 350px;
  }
}