.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #000;
  padding: 1em;
}

.list {
  display: flex;
  align-items: center;
  list-style: none;
  margin-left: auto;
}

.item {
  margin-right: 1em;
}

.item a {
  color: white;
  text-decoration: none;
}

.item a:hover {
  color: #6464ff;
  transition: 0.5s;
}
