.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #000;
  padding: 1em;
  position: fixed;
  top: -2px;
  z-index: 1;
  width: 100%;
}

.list {
  display: flex;
  align-items: center;
  list-style: none;
  margin-right: auto;
}

.item {
  margin-right: .7em;
}

.item a {
  color: white;
  text-decoration: none;
}

.item a:hover {
  color: #6464ff;
  transition: 0.5s;
}

.hamburger {
  display: flex;
  vertical-align: middle;
  font-size: 30px;
  cursor: pointer;
  color: white;
}

.hamburger:target {
  color: pink;
}

.darkmode {
  position: fixed;
  left: 270px;
}

@media only screen and (min-width: 768px) { 
  .hamburger {
    display: none;  
  }

  .list {
    height: 2em;
    padding-left: 20px;
  }

  .darkmode {
    left: 630px;
  }
}