.about_meContainer,
.projectsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    width: 90vw;
    background-color: var(--body_background);
    border: 1px solid var(--border_color);
    border-radius: 10px;
    margin-bottom: 1em;
    padding: 1.5em;
}

.about_meContainer h2,
.projectsContainer h2 {
    margin-top: 1em;
    margin-bottom: 2em;
}

.about_meContainer p,
.projectsContainer p {
    margin: .5em;
    color: var(--body_color);
}

@media only screen and (min-width: 768px) {
    .about_meContainer,
    .projectsContainer {
        width: 90vw;
    }
}

@media only screen and (min-width: 1024px) {
    .about_meContainer,
    .projectsContainer {
        width: 70vw;
    }
}