.title {
  font-size: 1.6em;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  margin-bottom: 1em;
  padding-bottom: 1em;
  padding: 0 1.2em;

}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 1em;
}

.project .h2 {
  text-align: center;
}

.project h5 {
  margin-top: -20px;
  margin-bottom: 2em;
}

.description {
  text-indent: 1.5em;
  line-height: 2;
  margin-bottom: 1em;
}

.list {
  margin-top: .5em;
  line-height: 2;
}

.project .images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.project .image_list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: 1px solid #6464ff5b;
  border-radius: 0.5em;
}

.project .image {
  flex: 1 1 calc(100% - 20px); 
  margin: 10px;
}

.project .image img {
  width: 100%;
  height: auto;
}

.usedTechnologies h2 {
  text-align: center;
  margin-top: 1em;
}

.technologies {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.icon img {
  width: 90px;
  height: auto;
  margin-bottom: 10px;
}

.link {
  background-color: #6464ff;
  color: white;
  border: none;
  border-radius: 0.5em;
  padding: 0.5em;
  margin: 1em;
}

.projects_button_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.projects_button {
  font-size: large;
  background-color: #6464ff;
  color: white;
  border: none;
  border-radius: 0.5em;
  padding: 0.5em;
  margin: 1.5em;
  cursor: pointer;
}

.projects_button:hover, .link:hover {
  background-color: #3131fa;
  transition: .5s ease;
  transform: scale(1.2);
}

.divider {
  width: 90%;
  margin: 1.5em auto;
  border: 0;
  height: 1px;
  background-color: #6464ff5e;
}

@media only screen and (min-width: 768px) {
  .projects {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    padding: 0 1.5em;
  }

  .projects_button {
    font-size: 1em;
  }
}