.technologies {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 1em;
}

.list li {
    width: 50px;
    margin: 0 .5em;
}
