::-webkit-scrollbar {
  width: 12px; 
}

::-webkit-scrollbar-track {
  background: var(--border_color);
}

::-webkit-scrollbar-thumb {
  background: #ffffff9d;
  border: 1px solid var(--border_color);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--link_color);
  border: 1px solid white;
}


:root {
  --body_background: #d4d4d4;
  --body_color: #030011;
  --border_color: #6464ffc0;
  --link_color: #6464ff;
  --link_color_hover: #3131fa;
  --box_shadow: rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] {
  --body_background: #030011;
  --body_color: white;
  --body_button_color: #3131fa;
  --box_shadow: rgba(255, 255, 255, 0.2);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu Sans', 'Open Sans', sans-serif;
}

body {
  background-color: var(--body_background);
  color: var(--body_color);
  transition: background-color .2s ease-in-out, color .2s ease-in-out, box-shadow .2s ease-in-out;
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 1.7em;
  }
}

@media only screen and (min-width: 1024px) {
  html {
    font-size: 1.3em;
  }
}