:root {
  --body_background: #d4d4d4;
  --body_color: #030011;
  --border_color: #6464ffc0;
  --link_color: #6464ff;
}

[data-theme="dark"] {
  --body_background: #030011;
  --body_color: white;
  --body_button_color: #3131fa;

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu Sans', 'Open Sans', sans-serif;
}

body {
  background-color: var(--body_background);
  color: var(--body_color);
  font-weight: 800;
  transition: background-color .2s ease-in-out, color .2s ease-in-out;
}